@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

header {
  position: relative;
  min-height: 100vh;
  background: #f7f7f7;
  z-index: 0;
}

.left-art {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.left-art img {
  width: 15vw;
}

.right-art img {
  width: 15vw;
}

.right-art {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.navbar {
  display: flex;
  flex-direction: row;
  padding: 10px 100px;
  justify-content: space-between;
  align-items: center;
}

.navBrand {
  flex: 1;
}

.nav {
  margin-right: 20px;
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.nav a {
  text-decoration: none;
  color: black;
}

.nav-btn {
  display: none;
}
#nav-check {
  display: none;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 90%;
  min-height: calc(100vh - 86px);
  margin: 0 auto;
}

.left-cont {
  text-align: center;
}

.left-cont h1 {

}
/*
#por1-span1 {
  font-size: 90px;
  font-weight: 900;
  display: block;
}
#por1-span2 {
  font-size: 90px;
  font-weight: 900;
  display: block;
}
#por1-span3 {
  font-size: 90px;
  font-weight: 900;
  display: block;
}
#por1-span4 {
  font-size: 60px;
  font-weight:100;
  display: block;
}
*/

#por1-h1{
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  padding: 0 100px;
  font-size: 90px;
  font-weight: 900;
  display: block;
}

#por1-h2 {
  font-size: 60px;
  font-weight:100;
  display: block;
}

#por1-span5 {
  margin-right: 10px;
  text-transform: uppercase;
}
.right-cont {
  text-align: right;
}

.right-cont img {
  width: 70%;
  margin: auto;
}

.left-cont a {
  margin-top: 10px;
  background-color: #ff1381;
  padding: 10px;
  text-decoration: none;
  color: white;
  padding: 20px;
  display: inline-block;
}
#header-btn {
  box-shadow: 0 1px 10px 0 rgba(243, 27, 128, 1);
}

/* Services-portion */

.Services-portion-head {
  min-height: 30vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Services-portion-conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background-color: #162b45;
  color: white;
  padding: 0 100px;
}

.Services-portion-conatiner .card {
  padding: 20px 20px;
  background: #2e4158;
  margin: 10px;
  border-radius: 2%;
  min-height: 35vh;
  max-width: 350px;
  text-align: center;
}

.Services-portion-conatiner .card p {
  color: #c6cccc;
  width: 80%;
  margin: 0 auto;
}

.Services-portion-conatiner .icon-holder {
  height: 50px;
  width: 50px;
  background-color: #586779;
  border-radius: 100%;
  margin: 0 auto 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Services-portion-head #Services-por-span1 {
  font-size: 25px;
  margin-bottom: 10px;
  color: #ff1381;
}

.Services-portion-head #Services-por-span2 {
  font-size: 43px;
}

/* portion 3*/
.About-portion-conatiner {
  min-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

.About-portion-conatiner-right-cont {
  text-align: left;
  padding-left: 80px;
  width: 70%;
  /* margin-left: auto; */
}

.About-portion-conatiner > div {
  flex: 1;
}

.About-portion-conatiner-left-cont {
  height: 70vh;
  display: flex;
  align-items: center;
  position: relative;
}

#About-por-img1 {
  position: absolute;
  left: -10px;
}

#About-por-img2 {
  position: absolute;
  margin: 0;
  top: -30px;
  left: 250px;
}

#About-por-div1 {
  position: absolute;
  width: 180px;
  height: 180px;
  border: 10px solid #ff1381;
  bottom: 30px;
  right: 500px;
}

#About-por-h21 {
  position: absolute;

  width: max-content;
  left: 100px;
  bottom: 40px;
  color: black;
  text-align: left;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
}

.About-portion-conatiner-right-cont a {
  margin-top: 10px;
  background-color: #ff1381;
  padding: 10px;
  text-decoration: none;
  color: white;
  padding: 20px;
  display: inline-block;
  box-shadow: 0 1px 10px 0 rgba(243, 27, 128, 1);
}

#About-por-span1 {
  display: block;
  color: #ff1381;
  margin-bottom: 10px;
}

#About-por-span2 {
  display: block;
  font-size: 35px;
  margin-bottom: 30px;
}

#About-por-span3 {
  display: block;
  font-size: 22px;
  margin-bottom: 30px;
}

#About-por-p1 {
  text-align: justify;
  text-align-last: left;

  margin-bottom: 30px;
}

#About-por-aspan1 {
  margin-right: 10px;
  text-transform: uppercase;
}

.About-portion-right-cont-content {
  width: 80%;
}

/* portion 4*/

.Blog-portion-head {
  min-height: 30vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Blog-portion-conatiner,
.Blog-portion-conatiner2 {
  min-height: 40vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.Blog-portion-conatiner-left-cont,
.Blog-portion-conatiner2-right-cont {
  flex: 1;
  text-align: center;
}

.Blog-portion-conatiner-right-cont,
.Blog-portion-conatiner2-left-cont {
  flex: 1;
  text-align: right;
  display: flex;
  align-items: center;
}

.Blog-portion-conatiner-right-cont img,
.Blog-portion-conatiner2-left-cont img {
  width: 100%;
  margin: auto;
}

.Blog-portion-conatiner-left-cont a,
.Blog-portion-conatiner2-right-cont a {
  margin: 0 10px 0 0;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

.Blog-portion-head #Blog-por-span1 {
  display: block;
  font-size: 25px;
  margin-bottom: 10px;
  color: #ff1381;
}

.Blog-portion-head #Blog-por-span2 {
  font-size: 43px;
}

.Blog-por-span3 {
  display: block;
  margin-bottom: 20px;
  font-size: 25px;
  color: #ff1381;
  text-transform: uppercase;
}
.Blog-por-span4 {
  font-size: 28px;
}

#Blog-por-cont-left-div1,
#Blog-por-cont-left-div2 {
  margin: 0 auto 30px;
  width: 90%;
  text-align: left;
}

#Blog-por-cont2-right-div1 {
  margin: 0 auto 30px;
  width: 90%;
  text-align: left;
}

/* Portfolio-portion */
.Portfolio-portion {
  min-height: 130vh;
  background-color: #162b45;
  padding-left: 150px;
  padding-right: 150px;
}
.Portfolio-portion-head {
  min-height: 40vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Portfolio-portion-head > div {
  margin: 10px;
}

.Portfolio-portion-container {
  min-height: 80vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.Portfolio-portion-container .card {
  border: 1px solid #c6cccc;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 10px;
}

.Portfolio-portion-container .card .portfolio-image {
  width: 100%;
}

.Portfolio-portion-container .card .data-holder {
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portfolio-footer {
  color: #c6cccc;
}

.portfolio-footer-circle {
  display: inline-block;
  background-color: #45556a;
  width: 15px;
  height: 15px;
  transform: translateY(14%);
  border-radius: 100%;
}

/* Pages-portion */

.Pages-portion-head {
  min-height: 30vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Pages-portion-conatiner {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  width: 80%;
}

.Pages-portion-conatiner .card {
  border: 1px solid #c6cccc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 10px 20px;
  text-align: center;
  width: min-content;
}

.Pages-portion-conatiner .icon-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Pages-portion-conatiner .icon-holder img {
  width: 360px;
}

.Pages-portion-conatiner .data-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 78%;
  padding: 20px 0;
  margin: auto;
}

.Pages-portion-conatiner .data-holder h3 {
  margin: 0 auto 20px;
  width: 90%;
  font-size: medium;
  font-weight: normal;
}

.Pages-portion-conatiner .data-holder p {
  margin: 0 auto 20px;
  width: 90%;
  font-size: large;
  font-weight: 700;
}

.Pages-portion-conatiner .data-holder p i {
  margin-right: 5px;
  color: #ff1381;
}

#Pages-por-span1 {
  font-size: 30px;
  margin-bottom: 10px;
  color: #ff1381;
}
#Pages-por-span2 {
  font-size: 50px;
}

/*footer*/
footer {
  min-height: 50vh;
  background: #162b45;
}
.footer-container {
  min-height: 45vh;
  display: flex;
  align-items: center;
}

.footer-container .footer-card {
  flex: 1;
}

.footer-container .footer-card p,
.footer-container .footer-card h2 {
  color: white;
  margin: 30px 0;
  padding: 0 30px 0px;
  width: 80%;
}

.footer-container .footer-card .email-container {
  border: 2px solid gray;
  padding: 1px 0px 5px 1px;
  margin-left: 30px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container .footer-card input[type="text"] {
  padding: 12px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  background: transparent;
  width: 100%;
  box-sizing: border-box;
  color: #c6cccc;
}

.footer-container .footer-card input[type="text"]:focus {
  outline-width: 0;
}

.footer-container .footer-card .email-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ff1381;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.footer-container .footer-card .email-container button:hover {
  background: #ff0077;
}

.footer-container .footer-card .footer-icons {
  display: flex;
  margin-top: 30px;
  justify-content: space-evenly;
  align-items: center;
  color: #c6cccc;
}

.footer-container .footer-card .footer-gallery {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  margin: 30px 0 0 30px;
}

.footer-container .footer-card .footer-gallery img {
  width: 70px;
  height: 70px;
  margin: 6px 6px 6px 0;
}

hr {
  width: 95vw;
  margin: auto;
  border: none;
  margin-top: 15px;
  border-top: 1px solid #c6cccc;
}

/* media queries */

/* nav bar starts */
@media screen and (max-width: 992px) {
  .navbar {
    flex-direction: row;
    padding: 10px 10px;
  }

  .navbar > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .navbar > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
    margin: 10px 10px 0 0;
    background-color: #ff1381;
    border-radius: 2px;
  }
  .navbar > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid black;
  }
  .navbar > .nav {
    position: absolute;
    display: block;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .navbar > .nav > a {
    display: block;
    width: 100%;
    text-align: center;
  }
  #nav-check:not(:checked) ~ .nav {
    height: 0px;
  }
  #nav-check:checked ~ .nav {
    height: 30vh;
    overflow-y: auto;
  }
}
/* nav bar ends */

@media screen and (max-width: 991px) {
  /* SERVICES */

  .Services-portion-conatiner {
    flex-wrap: wrap;
    padding: 100px 10px;
  }

  /* PORTFOLIO */
  .Portfolio-portion-container,
  .Pages-portion-container {
    justify-content: center;
    align-items: center;
  }

  .Portfolio-portion-container .card .portfolio-image,
  .Pages-portion-container .card .icon-holder img {
    width: 80%;
  }

  .Portfolio-portion,
  .Pages-portion {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* ABOUT */
  .About-portion-conatiner {
    flex-wrap: wrap;
  }
  #About-por-img1 {
    position: static;
    margin: 200px auto 0;
  }

  .About-portion-right-cont-content {
    width: 100%;
  }
  .About-portion-conatiner-right-cont {
    margin-top: 150px;
    padding: 10px;
    width: 100%;
  }

  .Blog-portion-conatiner,
  .Blog-portion-conatiner2 {
    flex-wrap: wrap;
  }

  .Blog-portion-conatiner-left-cont,
  .Blog-portion-conatiner2-right-cont {
    flex: 0 1 auto;
  }

  .Blog-portion-conatiner-right-cont,
  .Blog-portion-conatiner2-left-cont {
    flex: 0 1 auto;
  }

  #Blog-por-cont2-right-div1 {
    margin: 0 auto 30px;
  }

  #por1-h1{

    font-size: 70px;
    font-weight: 700;

  }

  #por1-h2 {
    font-size: 50px;

  }

}

@media screen and (max-width: 566px) {
  .Portfolio-portion-head {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 665px) {
  /* PORTFOLIO */
  .portfolio-footer-circle {
    font-size: 14px;
    width: 8px;
    height: 8px;
    transform: translateY(0%);
  }
  .Portfolio-portion-container .card {
    padding-left: 20px 0;
  }

  .Portfolio-portion-container {
    /*TO BE CHANEGD/REMOVED*/
    flex-wrap: wrap;
  }
  /* FOOTER */
  /* .footer-container{
    flex-wrap: wrap;
  } */

  /* header */
  header {
    background: #f0eed4;
    padding-bottom: 20px;
  }
  .container {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .right-cont {
    text-align: center;
  }
  #About-por-h21 {
    color: white;
  }
}

@media screen and (max-width: 768px) {
  /* FOOTER */
  .footer-container {
    flex-direction: column;
    flex-wrap: wrap;
  }
#insta{
  align-self: normal;
}
  /* header */
  .left-art img,
  .right-art img {
    display: none;
  }
/*
  #por1-span1 {
    font-size: 70px;
  }
  #por1-span2 {
    font-size: 50px;
  }
  #por1-span3 {
    font-size: 60px;
  }
  #por1-span4 {
    font-size: 20px;
  }*/
  #por1-h1{

    font-size: 60px;
    font-weight: 700;

  }

  #por1-h2 {
    font-size: 40px;

  }

  #header-btn {
    transform: scale(0.8);
  }

  .Services-portion-head #Services-por-span1,
  #About-por-span1,
  .Blog-portion-head #Blog-por-span1,
  #Pages-por-span1 {
    font-size: 20px;
  }

  .Services-portion-head #Services-por-span2,
  #About-por-span2,
  .Blog-portion-head #Blog-por-span2,
  #Pages-por-span2 {
    font-size: 33px;
  }

  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 1145px) {
  .Pages-portion-conatiner .icon-holder img {
    width: 300px;
  }

  .Pages-portion-conatiner .data-holder h3 {
    font-size: small;
  }
  .Pages-portion-conatiner .data-holder #pages-card-footer {
    font-size: small !important;
  }

  .Pages-portion-conatiner .data-holder p {
    font-size: medium !important;
    font-weight: 500;
  }
}

@media screen and (max-width: 980px) {
  .Pages-portion-conatiner .icon-holder img {
    width: 250px;
  }

  .Pages-portion-conatiner .data-holder h3 {
    font-size: 11px;
  }
  .Pages-portion-conatiner .data-holder #pages-card-footer {
    font-size: 11px !important;
  }

  .Pages-portion-conatiner .data-holder p {
    font-size: medium !important;
    font-weight: 500;
  }
}

@media screen and (max-width: 815px) {
  .Pages-portion-conatiner .icon-holder img {
    width: 200px;
  }

  .Pages-portion-conatiner .data-holder h3 {
    font-size: 13px;
  }
  .Pages-portion-conatiner .data-holder #pages-card-footer {
    font-size: 11px !important;
  }

  .Pages-portion-conatiner .data-holder p {
    font-size: 14px !important;
    font-weight: 500;
  }
}

@media screen and (max-width: 665px) {
  .Pages-portion-conatiner {
    flex-direction: column;
  }
  .Pages-portion-conatiner .icon-holder img {
    width: 360px;
  }

  .Pages-portion-conatiner .data-holder h3 {
    font-size: medium;
  }
  .Pages-portion-conatiner .data-holder #pages-card-footer {
    font-size: medium !important;
  }

  .Pages-portion-conatiner .data-holder p {
    font-size: large !important;
    font-weight: 700;
  }
  #por1-h1{
    font-size: 60px;
    font-weight: 700;
    padding: 0px 135px;
  }

  #por1-h2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 520px) {
  #por1-h1{
    padding: 0px 70px;
  }
}

@media screen and (max-width: 460px) {
  .Pages-portion-conatiner .icon-holder img {
    width: 300px;
  }

  .Pages-portion-conatiner .data-holder h3 {
    font-size: small;
  }
  .Pages-portion-conatiner .data-holder #pages-card-footer {
    font-size: small !important;
  }

  .Pages-portion-conatiner .data-holder p {
    font-size: medium !important;
    font-weight: 500;
  }

}

@media screen and (max-width: 1750px) {
  #About-por-div1 {
    bottom: 30px;
    right: 400px;
  }
}
@media screen and (max-width: 1550px) {
  #About-por-div1 {
    bottom: 30px;
    right: 300px;
  }
}

@media screen and (max-width: 1350px) {
  #About-por-img2 {
    top: 50px;
    left: 250px;
    width: 300px;
  }

  #About-por-div1 {
    width: 150px;
    height: 150px;
    bottom: 50px;
    right: 200px;
  }

  #About-por-h21 {
    left: 100px;
    bottom: 40px;
    font-size: 25px;
  }
  #por1-h1{
    font-size: 60px;
    font-weight: 700;
  }

  #por1-h2 {
    font-size: 40px;
  }
}

@media screen and (max-width: 1150px) {
  #About-por-img2 {
    top: 50px;
    left: 250px;
    width: 280px;
  }

  #About-por-div1 {
    width: 150px;
    height: 150px;
    bottom: 50px;
    right: 100px;
  }

  #About-por-h21 {
    left: 80px;
    bottom: 40px;
    font-size: 22px;
  }

}

@media screen and (max-width: 991px) {
  #About-por-img1 {
    width: 360px;
    left: -50px;
    margin-left: 0px;
  }
  #About-por-img2 {
    top: 230px;
    left: 220px;
    width: 210px;
  }

  #About-por-div1 {
    width: 130px;
    height: 130px;
    bottom: 20px;
    right: 150px;
  }

  #About-por-h21 {
    left: 40px;
    bottom: 40px;
    font-size: 18px;
  }

  #About-por-span2 {
    font-size: 30px;
  }

  #About-por-span3 {
    font-size: 19px;
  }
}

@media screen and (max-width: 880px) {
  #About-por-img1 {
    width: 300px;
    left: -50px;
    margin-left: 0px;
  }
  #About-por-img2 {
    top: 260px;
    left: 180px;
    width: 180px;
  }

  #About-por-div1 {
    width: 130px;
    height: 130px;
    bottom: 50px;
    right: 150px;
  }

  #About-por-h21 {
    left: 40px;
    bottom: 40px;
    font-size: 18px;
  }

  #About-por-span2 {
    font-size: 25px;
  }

  #About-por-span3 {
    font-size: 16px;
  }

  #por1-h1{
    font-size: 55px;
    font-weight: 700;
  }

  #por1-h2 {
    font-size: 35px;
  }

}

@media screen and (max-width: 768px) {
 .About-portion-conatiner{
   flex-direction: column;
   padding: 0 20px;
 }
  #About-por-img1 {
    width: 100%;
    left: -50px;
    margin-left: 0px;
  }
  #About-por-img2 {
    display: none;
  }

  #About-por-div1 {
    width: 130px;
    height: 130px;
    bottom: 50px;
    right: 330px;
  }

  #About-por-h21 {
    left: 10px;
    bottom: -40px;
    font-size: 25px;
    color: white;
  }

  #About-por-span2 {
    font-size: 25px;
  }

  #About-por-span3 {
    font-size: 16px;
  }
  #por1-h1{
    font-size: 45px;
    font-weight: 700;
  }

  #por1-h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 490px) {

  #About-por-div1 {
    width: 130px;
    height: 130px;
    bottom: 50px;
    right: 300px;
  }

  #por1-h1{
    padding: 0 40px;
    font-size: 50px;
    font-weight: 700;
  }

  #por1-h2 {
    font-size: 30px;

  }
}


@media screen and (max-width: 455px) {

  #About-por-div1 {
    width: 130px;
    height: 130px;
    bottom: 50px;
    right: 270px;
  }
}

@media screen and (max-width: 420px) {

  #About-por-div1 {
    width: 130px;
    height: 130px;
    bottom: 50px;
    right: 240px;
  }
}

@media screen and (max-width: 390px) {

  #About-por-div1 {
    width: 130px;
    height: 130px;
    bottom: 50px;
    right: 210px;
  }
}

@media screen and (max-width: 360px) {

  #About-por-div1 {
    width: 130px;
    height: 130px;
    bottom: 50px;
    right: 180px;
  }
  #por1-h1{
    padding: 0;
  }
}
@media screen and (max-width: 335px) {

  #About-por-div1 {
    width: 130px;
    height: 130px;
    bottom: 50px;
    right: 150px;
  }
}
/* pages card */
.pages-card {
  padding: 0 !important;
}
